@page
@model AccountModel
@{
    ViewData["Title"] = "Account";
}

<div>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="POST" asp-antiforgery="true">
        <label asp-for="NameViewModel.Name" class="form-label">Name</label>
        <div class="mb-3 input-group">
            <input type="text" class="form-control" required asp-for="NameViewModel.Name" />
            <input type="submit" class="btn btn-primary" value="Save" asp-page-handler="Name" />
        </div>
        <span asp-validation-for="NameViewModel.Name" class="text-danger"></span>
    </form>
    
    <form method="POST" asp-antiforgery="true">
        <label asp-for="EmailViewModel.Email" class="form-label">Email</label>
        <div class="mb-3 input-group">
            <input type="email" class="form-control" required asp-for="EmailViewModel.Email" />
            <input type="submit" class="btn btn-primary" value="Save" asp-page-handler="Email" />
        </div>
        <span asp-validation-for="EmailViewModel.Email" class="text-danger"></span>
    </form>
    
    <form method="POST" asp-antiforgery="true">
        <label asp-for="PasswordViewModel.Password" class="form-label">Password</label>
        <div class="mb-3 input-group">
            <input type="password" class="form-control" required asp-for="PasswordViewModel.CurrentPassword" placeholder="Current password">
            <input type="password" class="form-control" required asp-for="PasswordViewModel.Password" placeholder="Password">
            <input type="password" class="form-control" required asp-for="PasswordViewModel.ConfirmPassword" placeholder="Retype password">
            <input type="submit" class="btn btn-primary" value="Save" asp-page-handler="Password" />
        </div>
        <span asp-validation-for="PasswordViewModel.Password" class="text-danger"></span>
    </form>
</div>
