@page
@model CreateModel
@{
    ViewData["Title"] = "Create post";
}

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form method="POST" enctype="multipart/form-data" asp-antiforgery="true">
        <div class="mb-3">
            <label asp-for="ViewModel.Content" class="form-label">Preview (optional)</label>
            <input type="file" class="form-control" asp-for="ViewModel.Preview" />
        </div>
        <div class="mb-3">
            <label asp-for="ViewModel.Title" class="form-label">Title</label>
            <input type="text" class="form-control" required asp-for="ViewModel.Title" />
        </div>
        <div class="mb-3">
            <label asp-for="ViewModel.Content" class="form-label">Content</label>
            <textarea class="form-control" required asp-for="ViewModel.Content"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Create" />
    </form>
</div>