@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="grid">
    @foreach (var post in Model.Posts)
    {
        <div class="card">
            @if (post.Preview != null)
            {
                <img height="100px" src="/previews/@post.Preview" class="card-img-top" alt="Post preview">
            }
            <div class="card-body">
                <h5 class="card-title">@post.Title</h5>
                <p class="card-text">
                    @if (post.Content.Length > 50)
                    {
                        @post.Content[..50]
                    }
                    else
                    {
                        @post.Content
                    }
                </p>
                <a href="/Post/@post.Id" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>