@page
@model LoginModel
@{
    ViewData["Title"] = "Login page";
}

<div>
    <form method="POST" asp-antiforgery="true">
        <div class="mb-3">
            <label asp-for="ViewModel.Email" class="form-label">Email address</label>
            <input asp-for="ViewModel.Email" type="email" class="form-control" autocomplete="email" />
            <span asp-validation-for="ViewModel.Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ViewModel.Password" class="form-label">Password</label>
            <input asp-for="ViewModel.Password" type="password" class="form-control" autocomplete="current-password" />
            <span asp-validation-for="ViewModel.Password" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Log in" />
    </form>
</div>