@page "{id}"
@model PostModel
@{
    ViewData["Title"] = "Post";
}

<div>
    @if (!string.IsNullOrEmpty(Model.Post?.Preview))
    {
        <img width="100%" height="200px" src="/previews/@Model.Post.Preview" alt="Preview" />
    }
    <h1>@Model.Post?.Title</h1>
    <p>@Model.Post?.Content</p>
</div>